*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}


.header .nav-bar{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;    
}
.nav-bar .logo{
    flex: 1;
    padding-left: 120px;
}
.nav-bar .logo p{
    /* font-size: x-large; */
    font-weight: bold;
    color: black;
    font-size: xx-large;
}
p span{
    color: #f46b27;
}

.nav-bar .menu{
    display: flex;
    flex: 2;
}

.nav-bar .menu ul{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    /* position: relative; */
}
.menu ul li a {
    text-decoration:  none;
    color: #f46b27;
    font-size: 15px;
    font-weight: bold;
}

.menu .primary-btn{
    height: auto;
    width: 200px;
    background-color: #f46b27;
    border: none;
    color: #fff;
    margin-left: 30px;
    font-weight: bold;
    font-size: 15px;
    transition: 500ms easeim;
}
.primary-btn:hover{
    background-color: #fff;
    color: #f46b27;
    border: 1px solid #f46b27;
}

.header-body{
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.header-body .text-box{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 125px;
}
.text-box p{
    padding-top: 20px;
    line-height: 20px;
    color: #9f9f9f;
    font-size: 12px;
}
.header-body .text-box h1{
    margin-top: 62px;
}

.button{
    padding-top: 20px;
}
.btn-1, .btn-2{
    height: 40px;
    width: 150px;
    border: none;
    cursor: pointer;
    transition: 500ms ease-in-out;
    font-weight: 800;
}

.btn-1{
    background-color: #f46b27;
    color: #fff;
}
.btn-1:hover{
    background-color: #fff;
    color: #f46b27;
    border: 1px solid #f46b27;
}

.btn-2{
    background-color: transparent;
    box-shadow: 0 5px 5px  rgba(0, 0, 0, .17);
}
.btn-2:hover{
    border: 0.1px solid black;
}


.header-body .img{
    display: flex;
    flex: 1;
    align-items:center;
    justify-content:left;
}
.header-body .img img{
    height: 360px;
    width: 350px;
    border-radius: 25px;
}

.row{
    height: 6rem;
    width: 100%;
    background-color: #f46b27;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -60px;
}
.row .col h2{
    color: #fff;
}
.row .col p{
    color: #fff;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
}


/*    This is Section 2    */

.row-1, .row-2{
    display: flex;
    align-items: center;
    width: 100%;
    
}
.row-1, .row-2{
    margin-top: 100px;
}
.row-1 .content, .row-2 .content{
    display: flex;
    flex-direction: column;
    flex: 1;
} 
.row-1 .image{
    padding-left: 120px;
    flex: 1;
}
.image img{
    border-radius: 7px;
}
.row-1 .content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row-1 h2, .row-2 h2{
    line-height: 30px;
}
.row-1 .content p, .row-2 .content p{
    margin-top: 20px;
}
.content .btn-1{
    margin-top: 20px;
}

.row-2 .content{
    padding-left: 120px;
} 
.row-2 .image{
    flex: 1;
}
.row-2 ul{
    padding-top: 20px;
}
.row-2 ul li{
    list-style: none;
    font-size: 14px;
}

ul li:before { 
    content:"\2714\0020";
    font-size: 15px;
    color: #f46b27;
} 

/* This is section-3  */
.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background: url(/images/doughnut.png);
    margin-top: 120px;
}
.section-3 p{
    padding-top: 20px;
    color: #fff;
}

.section-4{
    margin-top: 200px;
}
